.reservation__block {
    display: block;
    margin-top: 150px;
    padding: 50px 0px;
    margin-bottom: 50px;
}
#cal{
  z-index: 2000000 !important;
  margin-left: 50% !important;
  left: 0 !important;
  transform: translate(-50%) !important;
}
.next__button{
  color: #009bdb !important;
  font-weight: bold;
  border: 1px solid #009bdb;
  padding: 10px 35px;
  float: right;
  height: 50px;
}
.before__button{
  color: #009bdb !important;
  font-weight: bold;
  border: 1px solid #009bdb;
  padding: 10px 35px;
  float: left;
  height: 50px;
}
.next__button:hover{
  color: #ffffff !important;
  background-color: #009bdb !important;
  border: 1px solid #009bdb !important;
  cursor: pointer;
}
.before__button:hover{
  color: #ffffff !important;
  background-color: #009bdb !important;
  border: 1px solid #009bdb !important;
  cursor: pointer;
}
#reservation__hours .customers {
    border-collapse: collapse;
    width: 100%;
}

#reservation__hours .customers td, #reservation__hours .customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#reservation__hours .customers tr{background-color: #ffffff;}


#reservation__hours .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
#reservation__hours .customers:hover{
  cursor: pointer;
}
#reservation__hours .table__cell{
  transition: all 0.2s ease-out;
}
#reservation__hours .table__cell.selected{
  color: #ffffff !important;
  background-color: #09a262;
}
#reservation__hours .customers td, #reservation__hours .customers th{
  background-color: #fff;
  border-color: #000;
}
#reservation__hours .customers td.blocked{
  background-color: #c90707;
  border-color: #000;
  color: #ffffff;
}
#reservation__hours .customers th{
  background-color: #ddd;
  border-color: #000;
  color: #000;
  text-align: center;
}
.payment__processing{
  font-size: 20px;
  line-height: 30px;
}
.steps {
  position: relative;
  margin-bottom: 30px;
  counter-reset: step;

}
.steps li {
  list-style-type: none;
  font-size: 12px;
  text-align: center;
  width: 16.5%;
  position: relative;
  float: left;
}

.steps li:before {
  display: block;
  content: counter(step);
  counter-increment: step;
  width: 32px;
  height: 32px;
  background-color: #009bdb;
  line-height: 32px;
  border-radius: 32px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin: 0 auto 8px auto;
}

.steps li ~ li:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #009bdb;
  position: absolute;
  left: -50%;
  top: 15px;
  z-index: -1;
}

.steps li.active:after {
  background-color: #009bdb;
}

.steps li.active ~ li:before,
.steps li.active ~ li:after {
  background-color: #777;
}

.reservation__block .reservation__warning{
  text-align: center;
  margin-top: 120px;
  margin-bottom: 46px;
}
.reservation__block .reservation__warning a{
  font-weight: bold;
}

table {
    margin-bottom: 0px !important;
}
